@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(211, 211, 211, 0.298);
}

.btn {
  @apply bg-amber-600
  py-2 px-3 my-2
  inline-block
  text-white
  rounded-md
  border-2
  border-amber-600;
}
